# Database
DATABASE_URL="postgresql://impackt:impackt_dev@localhost:5433/impackt_gym?schema=public"

# NextAuth
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_NAME="Ojas"
